chronicle_web_ui/node_modules/
chronicle_web_ui/package-lock.json
chronicle_web_ui/.next/
chronicle_web_ui/.turbo/
chronicle_web_ui/.eslintcache

# Log files and environment
*.log
.env
.env.*

# Optional editor/IDE settings
.vscode/
.idea/
*.swp
